<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>GlyphSearch: search for icons from Font Awesome, Glyphicons, and Ionicons</title>
		<meta name="description" content="Search for icons from Font Awesome, Glyphicons, and Ionicons">
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/ionicons.css">
		<link rel="stylesheet" href="css/main.css">

		<!--[if lt IE 9]>
				<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
				<script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
		<![endif]-->
	</head>
	<body>
		<div class="header">
			<div class="container">
				<h1>GlyphSearch</h1>
				<p class="tagline">Search for icons from <a target="_blank" href="http://fontawesome.io/">Font Awesome</a>, <a target="_blank" href="http://glyphicons.com/">Glyphicons</a>, and <a target="_blank" href="http://ionicons.com/">Ionicons</a></p>
			</div>
			<div class="social">
				<a href="https://twitter.com/thomashpark" class="twitter-follow-button" data-show-count="false" data-show-screen-name="true">Follow @thomashpark</a>
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://glyphsearch.com" data-via="thomashpark">Tweet</a>
			</div>
		</div>

		<div class="search-bar">
			<div class="container">
				
				<div class="row">
					<div class="col-lg-4 col-lg-offset-4">
						<div class="input-group">
							<input type="text" id="search" class="form-control" placeholder="Search">
								<span class="input-group-btn">
									<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
										<span id="filter-label">All</span> <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu" id="filter">
										<li><a href="#" data-filter="all">All</a></li>
										<li><a href="#" data-filter="font-awesome">Font Awesome</a></li>
										<li><a href="#" data-filter="glyphicons">Glyphicons</a></li>
										<li><a href="#" data-filter="ionicons">Ionicons</a></li>
									</ul>
								</span>
						</div>
						<span class="help-block">Try searching <a class="search-term">brand</a>, <a class="search-term">currency</a>, <a class="search-term">directional</a>, and <a class="search-term">medical</a></span>
					</div>
				</div>

			</div>
		</div>

		<div class="container" id="entries">

			<div class="section page-header font-awesome">
				<h1>Font Awesome</h1>
			</div>
			<div class="section row font-awesome">
				{{#each font-awesome}}
				<div class="entry col-lg-1 col-md-2 col-sm-3 col-xs-4">
					<div class="icon">
						<i class="fa fa-{{name}}"></i>
					</div>
					<div class="description">fa-{{name}}</div>
					<div class="hidden">{{tags}}</div>
				</div>
				{{/each}}
			</div>

			<div class="section page-header glyphicons">
				<h1>Glyphicons</h1>
			</div>
			<div class="section row glyphicons">
				{{#each glyphicons}}
				<div class="entry col-lg-1 col-md-2 col-sm-3 col-xs-4">
					<div class="icon">
						<i class="glyphicon glyphicon-{{name}}"></i>
					</div>
				<div class="description">glyphicon-{{name}}</div>
				<div class="hidden">{{tags}}</div>
				</div>
				{{/each}}
			</div>

			<div class="section page-header ionicons">
				<h1>Ionicons</h1>
			</div>
			<div class="section row ionicons">
				{{#each ionicons}}
				<div class="entry col-lg-1 col-md-2 col-sm-3 col-xs-4">
					<div class="icon">
						<i class="icon-{{name}}"></i>
					</div>
				<div class="description">icon-{{name}}</div>
				<div class="hidden">{{tags}}</div>
				</div>
				{{/each}}
			</div>

			<hr>

			<footer>
				<p>Created by <a target="_blank" href="http://thomaspark.me">Thomas Park</a></p>
				<p>Flatly theme from <a target="_blank" href="http://bootswatch.com">Bootswatch</a></p>
			</footer>

		</div> <!-- /container -->        
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
		<script src="js/vendor/jquery.fastLiveFilter.js"></script>
		<script src="js/vendor/bootstrap.min.js"></script>
		<script src="js/main.js"></script>
		<script type="text/javascript">
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		</script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-23019901-8', 'glyphsearch.com');
			ga('send', 'pageview');

		</script>
	</body>
</html>
