<div class="section page-header font-awesome">
	<h1>Font Awesome</h1>
</div>
<div class="section row font-awesome">
	{{#each font-awesome}}
	<div class="entry col-lg-1 col-md-2 col-sm-3 col-xs-4">
		<div class="icon">
			<i class="fa fa-{{name}}"></i>
		</div>
		<div class="description">fa-{{name}}</div>
		<div class="hidden">{{tags}}</div>
	</div>
	{{/each}}
</div>

<div class="section page-header glyphicons">
	<h1>Glyphicons</h1>
</div>
<div class="section row glyphicons">
	{{#each glyphicons}}
	<div class="entry col-lg-1 col-md-2 col-sm-3 col-xs-4">
		<div class="icon">
			<i class="glyphicon glyphicon-{{name}}"></i>
		</div>
	<div class="description">glyphicon-{{name}}</div>
	<div class="hidden">{{tags}}</div>
	</div>
	{{/each}}
</div>

<div class="section page-header ionicons">
	<h1>Ionicons</h1>
</div>
<div class="section row ionicons">
	{{#each ionicons}}
	<div class="entry col-lg-1 col-md-2 col-sm-3 col-xs-4">
		<div class="icon">
			<i class="icon-{{name}}"></i>
		</div>
	<div class="description">icon-{{name}}</div>
	<div class="hidden">{{tags}}</div>
	</div>
	{{/each}}
</div>